.adminNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a light shadow */
}

.navbarRight {
  display: flex;
  align-items: center;
  gap: 20px;
}
